{
    "access_token": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
    "api_url": "mastodon.noraworld.jp,
    "reply_content": "\r\n動くな、マストドン警察だ。壁に手をつけ。今お前が使ったリンクは t.co だな…？"
}
